@{
    ViewBag.Title = "Home Page";
}

<!-- Slider Revolution -->
<div id="homeFadeInVideoContainer">
    <div id="homeFadeInVideo">
        <div class="youtube"
             data-video-id="f56d6b5bCvI"
             data-forcerewind="on"
             data-volume="mute"
             data-videorate="1"
             data-videowidth="100%"
             data-videoheight="800"
             data-videocontrols="none"
             data-videostartat="00:00"
             data-videoendat="01:40"
             data-videoloop="loop"
             data-forceCover="1"
             data-aspectratio="4:3"
             data-autoplay="true"
             data-autoplayonlyfirsttime="true">
            <i class="fa fa-play btn-play"></i>
        </div>
    </div>
</div>
<!-- Slider Revolution -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="slider-news" class="rev_slider fullwidthbanner" data-version="5.0.7">
        <ul>
            <!-- Slide 1 -->
            <li data-index="rs-1"
                data-captionhidden="on"
                data-transition="parallaxvertical"
                data-slotamount="default"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="default"
                data-thumb=""
                data-rotate="0"
                data-fstransition="fade"
                data-fsmasterspeed="1500"
                data-fsslotamount="7"
                data-saveperformance="off"
                data-title=""
                data-description="">

                <!-- MAIN IMAGE -->
                <img src="~/images/StudyHome.jpg" data-lazyload="/images/StudyHome.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- IMPORTANT : Background Youtube Video does not work on Localhost environments. -->
                <div class="rs-background-video-layer"
                     data-forcerewind="on"
                     data-videotype="youtube"
                     data-volume="mute"
                     data-ytid="f56d6b5bCvI"
                     data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&wmode=opaque&showinfo=0&amp;rel=0;;origin=https://learncodinganywhere.com;"
                     data-visability="visible"
                     data-videorate="1"
                     data-videowidth="100%"
                     data-videoheight="800"
                     data-videocontrols="none"
                     data-videostartat="00:00"
                     data-videoendat="01:40"
                     data-videoloop="loop"
                     data-forceCover="1"
                     data-aspectratio="4:3"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="true">
                </div>

                <!-- Overlay-->
                <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                     id="slide-1-overlay"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                     data-width="full"
                     data-height="full"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-start="1000"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.6);border-color:rgba(0, 0, 0, 0.3);">
                </div>
                <!-- Main Text One -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                     id="slide-1-main-text"
                     data-x="center"
                     data-y="center"
                     data-offset="0"
                     data-voffset="0"
                     data-fontsize="['46','46','46','32']"
                     data-lineheight="['55','55','55','35']"
                     data-color="['#fff']"
                     data-width="['750','750','600','420']"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 7; min-width: 600px; max-width: 700px; white-space: nowrap; text-shadow:0px 2px 2px #000; text-transform:capitalize; font-weight:600; text-align:center; font-family: 'Montserrat', sans-serif;">
                    <h1 class="quotes">Learn to Code</h1>
                    <h1 class="quotes">Comprehensive Curriculum</h1>
                    <h1 class="quotes">Flexible Scheduling </h1>
                    <h1 class="quotes">Self-Paced</h1>
                    <h1 class="quotes">Online and In-Person Training</h1>
                    <h1 class="quotes">Start Anytime</h1>
                    <h1 class="quotes">Outstanding Job Placement</h1>
                    <h1 class="quotes">Several In-Demand Languages</h1>
                    <h1 class="quotes">Financing Available</h1>

                </div>
                <!-- Button -->
                <span class="tp-caption btn btn-primary rs-parallaxlevel-0"
                      id="slide-1-button"
                      data-x="center"
                      data-y="center"
                      data-offset="0"
                      data-voffset="150"
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;"
                      data-mask_out="x:0;y:0;"
                      data-start="1000"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      data-responsive="off"
                      style="z-index: 8;">
                    Watch Our Video
                </span>
            </li>
        </ul>
    </div>
</div>
<!-- Why Attend the Academy-->
<div class="bgcolor3 pt-20 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon-box-1">
                    <div class="icon-box-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading"><a href="@Url.Action("Contact", "Home")">Start Now</a></h6>
                        <span>Take advantage of our discount ending September 30th! <strike>$11,000.00</strike> $6,980.00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-1">
                    <div class="icon-box-icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading"><a href="@Url.Action("Contact", "Home")">Our Curriculum</a></h6>
                        <span>Start with Computer Basics and finish as a member of a development team!</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-1">
                    <div class="icon-box-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading"><a href="@Url.Action("Contact", "Home")">Self Paced</a></h6>
                        <span>Set Your Own Schedule! Instructors available 9 to 9 Monday through Friday.</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Start Text-->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading text-center">
                    <br />
                    Why Attend <span class="color2">The Tech Academy</span>
                    <span class="sub-heading">On The Tech Academy’s programming bootcamp, students learn coding through real-world, hands-on software development training. Graduates are well-rounded, full-stack, junior developers that can code on the front-end and back-end.</span>
                    <a href='@Url.Action("Index", "CourseOverViews")' class="btn btn-primary btn-sm">Get Started Now</a>
                </h2>
            </div>
        </div>
        <!--End text-->
    </div>
</div>

<div class="container mt-20 mb-40">
    <div class="row">
        <h2 class="heading text-center">
            Who We <span class="color2">Are</span>
            <span class="sub-heading">
                The Tech Academy is a licensed career school located in Portland, Oregon where students learn to code.
                The coding classes on the Software Development Boot Camp covers computer programming and web development.
                The curriculum is available online, so the course can be studied from anywhere in the world.
                Students can take the program in classrooms located in downtown Portland or online from anywhere on the planet -
                The Tech Academy has local students in Portland and remote students that study from home across the United States, in Europe, etc.
            </span>
            <span class="sub-heading">
                What sets The Tech Academy apart from other code schools is their thorough curriculum and high success rate of graduates.
                The Tech Academy students learn many programming languages and skills during the coding bootcamp.
            </span>
        </h2>
    </div>
</div>

<!-- End Why Attend Academy-->
<div class="bgcolor3 pt-20 pb-20">
    <div class="container">
        <h2 class="heading text-center">Boot <span class="color2">Camp</span></h2>
        <h4 class="heading text-center">Our software development boot camp consists of:</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 1 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Computer Basics</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 2 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Overview Of Software Development</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 3 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Version Control</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 4 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-html5" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">HTML & CSS</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 5 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Database & SQL</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 6 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">JavaScript</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 7 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Visual Studio</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 8 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">C# and ASP.Net</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 9 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Project Management</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 10 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Live Project</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 11 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h6 class="heading">Job Placement</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-box-2">
                    <!-- ***** Icon Box Style 12 ***** -->
                    <div class="icon-box-icon">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <a href='@Url.Action("Index", "CourseOverviews")' class="btn btn-primary btn-sm">AND MORE <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="gallery-overlay">
                <h2 class="gallery-heading">Life At The Tech Academy</h2>
            </div>
            <div class="col-sm-3 no-gutter">
                <div class="img-box">
                    <a href="~/images/homePage/gallery-buildingfront.jpg" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                    <img src="~/images/homePage/gallery-buildingfront.jpg" alt="" class="img-responsive"> <!--800x1149-->
                </div>
            </div>
            <div class="col-sm-3 no-gutter">
                <div class="img-box">
                    <a href="~/images/homePage/gallery-hands.jpg" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                    <img src="~/images/homePage/gallery-hands.jpg" alt="" class="img-responsive"> <!--800x575-->
                </div>
                <div class="img-box">
                    <a href="~/images/homePage/gallery-computer.jpg" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                    <img src="~/images/homePage/gallery-computer.jpg" alt="" class="img-responsive"> <!--800x575-->
                </div>
            </div>
            <div class="col-sm-3 no-gutter">
                <div class="img-box">
                    <a href="~/images/homePage/gallery-portland.jpg" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                    <img src="~/images/homePage/gallery-portland.jpg" alt="" class="img-responsive"> <!--800x575-->
                </div>
                <div class="img-box">
                    <a href="~/images/homePage/gallery-frontclose.jpg" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                    <img src="~/images/homePage/gallery-frontclose.jpg" alt="" class="img-responsive"> <!--800x575-->
                </div>
            </div>
            <div class="col-sm-3 no-gutter">
                <div class="img-box">
                    <a href="~/images/homePage/gallery-light.jpg" data-gal="prettyPhoto[galleryName]" class="img-zoom"><i class="fa fa-search"></i></a>
                    <img src="~/images/homePage/gallery-light.jpg" alt="" class="img-responsive"> <!--800x1149-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-40 mb-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="facts">
                        <div class="fact col-sm-4">
                            <span class="head">
                                <span class="count" data-from="0" data-to="11" data-speed="4000"></span> Courses
                            </span>
                            <span class="foot">The Tech Academy's Bootcamp consists of 11 Courses.</span>
                        </div>
                        <div class="fact col-sm-4">
                            <span class="head">
                                <span class="count" data-from="0" data-to="172" data-speed="4000"></span> Students
                            </span>
                            <span class="foot">From in house training to remote. Our students are located all over the world.</span>
                        </div>
                        <div class="fact col-sm-4">
                            <span class="head">
                                <span class="count" data-from="0" data-to="9" data-speed="4000"></span> Instructors
                            </span>
                            <span class="foot">Most <i>graduates</i> get high demand tech jobs.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container mb-40">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading text-center">
                The Tech Academy’s<span class="color2"> Mission Statement</span>
                <span class="sub-heading">To graduate junior developers that excel in the basics of computer programming and thereafter have successful careers in the I.T. field, and whose actions raise industry standards and surpass client expectations.</span>
                <span class="icon-divider"></span>
            </h2>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-6">
            <img src="~/images/homePage/MakingDifference.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6">
            <div class="accordion-2">
                <div class="panel-group" id="a2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="a2heading1">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#a2" href="#a2body1" aria-expanded="true" aria-controls="a2body1">
                                    What's so awesome about The Tech Academy?
                                </a>
                            </h4>
                        </div>
                        <div id="a2body1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="a2heading1" aria-expanded="true">
                            <div class="panel-body">
                                Our program is self-paced. We are open weekdays, weeknights and weekends; you can enroll at the Academy anytime! The entire program is available online and can be taken from anywhere in the world, with Instructors to help.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="a2heading2">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a2" href="#a2body2" aria-expanded="false" aria-controls="a2body2">
                                    Are you a good fit for The Tech Academy?
                                </a>
                            </h4>
                        </div>
                        <div id="a2body2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a2heading2" aria-expanded="false">
                            <div class="panel-body">
                                If you enjoy using a computer and are excited to learn to create and innovate, you are what we're looking for!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="a2heading3">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#a2" href="#a2body3" aria-expanded="false" aria-controls="a2body3">
                                    Why Choose The Tech Academy?
                                </a>
                            </h4>
                        </div>
                        <div id="a2body3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a2heading3" aria-expanded="false">
                            <div class="panel-body">
                                The Academy is composed of 11 courses, each of various length and the courses build on one another. Later courses are more advanced and refer back to earlier courses.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container-fluid mb-60">
    <div class="row">
        <div class="tweets" data-parallax="scroll" data-image-src="@Url.Content("~/images/gallery-books-blue.png")" data-speed=".5">

            <p>"The curriculum structure is perfect for the coding newbie, even an absolute newbie like myself."</p>
            <p>"The coursework starts off really basic, which is exactly what I needed, then quickly progresses to full stack web/software development."</p>
            <p>"I went from working 60-70hr weeks and rotating shift work in factories to working 40hrs/week at home."</p>

        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container mb-40">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading text-center">
                Meet our <span class="color2">Founders</span>
                <span class="sub-heading">A new approach to training in technology!</span>
                <span class="sub-heading">The Tech Academy is a code school co-founded by Jack Stanley and Erik Gross. Their program, the software developer boot camp, can be taken online from anywhere in the world.</span>
                <span class="icon-divider"></span>
            </h2>
        </div>
        <div class="col-sm-6">
            <div class="teacher-card">
                <ul class="social-links">
                    <li><a href="https://www.linkedin.com/in/erik-gross-28bb1734" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <img src="~/images/homePage/TTA-123.png" class="teacher-img img-responsive" alt="">
                <div class="teacher-detail">
                    <h4 class="heading">Mr. Erik Gross</h4>
                    <span class="position">Co-Founder</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="teacher-card">
                <ul class="social-links">
                    <li><a href="https://www.linkedin.com/in/jack-stanley-5ba28392" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <img src="~/images/homePage/TTA-130.png" class="teacher-img img-responsive" alt="">
                <div class="teacher-detail">
                    <h4 class="heading">Mr. Jack Stanley</h4>
                    <span class="position">Co-Founder</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="back"><i class="fa fa-angle-up"></i></div>     <!-- Back To Top -->

@section scripts{
    <script>
        $(document).ready(function () {

            // Show video on click
            $("#slide-1-button").click(function (e) {
                $("#homeFadeInVideoContainer").fadeIn(1000, function () {
                    //document.getElementById("learnMoreVideo").play();
                });
            });

            //$("#slide-1-button").hover(function () {
            //    $(this).prop("controls", true);
            //}, function () {
            //    $(this).prop("controls", false);
            //});

            $("#homeFadeInVideoContainer").click(function (e) {
                if ($(e.target)[0] === $("#homeFadeInVideoContainer")[0]) {
                    $(this).fadeOut(1000);
                    //document.getElementById("learnMoreVideo").pause();
                }
            });
        });
    </script>
    <script type="text/javascript">
        var revapi;
        jQuery(document).ready(function () {
            revapi = jQuery('.tp-banner').revolution(
                {
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 500,
                    hideThumbs: 10,
                    hideCaptionAtLimit: 650,
                    hideAllCaptionAtLimit: 400

                });
        });
    </script>
    <script>
        (function () {

            var quotes = $(".quotes");
            var quoteIndex = -1;

            function showNextQuote() {
                ++quoteIndex;
                quotes.eq(quoteIndex % quotes.length)
                    .fadeIn(1000)
                    .delay(1000)
                    .fadeOut(1000, showNextQuote);
            }

            showNextQuote();

        })();


    </script>
    <script>
        $(document).ready(function () {
            $("#other").hide();
            $("#othertext").hide();
            $("#myotherdropdown").change(function () {
                if ($(this).val() === "Other") {
                    $("#other").show();
                    $("#othertext").show();
                } else {
                    $("#other").hide();
                    $("#othertext").hide();
                }
            });
        });
    </script>
}



